AZURE_OPENAI_KEY=
AZURE_OPENAI_MODEL=gpt-4.1
AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_BASE_URL=https://{your-resource}.openai.azure.com/
AZURE_OPENAI_RESOURCE_NAME=your-resource
AZURE_OPENAI_EMBEDDINGS_MODEL=text-embedding-3-large
AZURE_OPENAI_EMBEDDINGS_API_VERSION=2024-04-01-preview

PROXY=
ZABBIX_ENDPOINT=
ZABBIX_USER=
ZABBIX_PASSWORD=